<section class="w-full md:px-32 grid  text-center place-content-center space-y-3  py-12 " id="wines">
    <h2 class="flex items-center">
        <span class="h-px flex-1 bg-linear-to-r from-transparent to-rose-300"></span>

        <span class="shrink-0 px-4 text-3xl  font-body text-rose-800 text-center">Nuestros Vinos</span>

        <span class="h-px flex-1 bg-linear-to-l from-transparent to-rose-300"></span>
    </h2>

    <div class="w-full md:grid place-items-center self-center p-4 hidden md:w-3xl lg:w-full">
        <img src="wine_example.png" alt="" class="w-42 ">
        <h3 class="text-2xl font-bold text-black">Vino ejemplo</h3>
        <p class="text-slate-600 font-light mt-2 w-96 text-balance">
            Vino tinto elegante de carácter intenso, elaborado con uvas seleccionadas y madurado en barricas de roble.
            Presenta aromas de frutos negros, cacao y suaves notas especiadas.
            En boca es equilibrado, con taninos sedosos y un final largo y persistente.
        </p>
    </div>
    <app-carousel class="md:hidden" />
    <div class="md:flex md:w-3xl lg:w-full justify-center hidden text-black">
        <div class="flex w-[266px] flex-col  p-2  items-center cursor-pointer hover:shadow-2xl">
            <img src="wine_example.png" alt="" class="w-32 hover:scale-110 transition-all">
            <h3 class="font-medium text-lg">Vino ejemplo 1</h3>
        </div>

        <div class="flex flex-col w-[266px] p-2  items-center cursor-pointer hover:shadow-2xl">
            <img src="wine_example.png" alt="" class="w-32 hover:scale-110 transition-all">
            <h3 class="font-medium">Vino ejemplo 2</h3>
        </div>

        <div class="flex flex-col w-[266px] p-2  items-center cursor-pointer hover:shadow-2xl">
            <img src="wine_example.png" alt="" class="w-32 hover:scale-110 transition-all">
            <h3 class="font-medium">Vino ejemplo 3</h3>
        </div>

        <div class="flex flex-col w-[266px] p-2  items-center cursor-pointer hover:shadow-2xl">
            <img src="wine_example.png" alt="" class="w-32 hover:scale-110 transition-all">
            <h3 class="font-medium">Vino ejemplo 4</h3>
        </div>

        <div class="flex flex-col w-[266px] p-2  items-center cursor-pointer hover:shadow-2xl">
            <img src="wine_example.png" alt="" class="w-32 hover:scale-110 transition-all">
            <h3 class="font-medium">Vino ejemplo 5</h3>
        </div>

    </div>

</section>