<section
    class="lg:grid grid-cols-1 grid-rows-3 gap-4 md:px-32 h-150 md:h-150 lg:h-140 bg-zinc-900 text-white md:grid-cols-3 md:grid-rows-1"
    id="contact">

    <div class="flex flex-col w-full md:p-12 text-white h-100 p-6 items-center">
        <h2 class="font-light text-3xl mb-8 text-center font-melodrama">Viña Dufour de Conti</h2>
        <div class="flex flex-col ">
            <h2 class="text-xl font-medium mb-6 text-white/80">Contáctanos</h2>
            <div class="mb-3">
                <p class="font-medium text-white/80">Llámanos</p>
                <p class="">+56 9 21113344</p>
            </div>

            <div class="mb-6">
                <p class="font-medium text-white/80">Estamos ubicados en:</p>
                <p class="font-body">Calle Millahue de Apalta, kilómetro 7.7, comuna de Santa Cruz, Sexta
                    Región</p>
            </div>
            <h2 class="text-xl font-medium mb-3 text-center lg:text-start">Redes Sociales</h2>
            <div class="flex space-x-4 mt-4 justify-center lg:justify-start">
                <img src="instagram.png" alt="" class="w-7 text-white bg-white rounded-xl">
                <img src="linkedin.png" alt="" class="w-7 bg-white rounded-xl">
            </div>
        </div>




    </div>

    <div class="flex flex-col md:space-x-4 items-center justify-center md:flex-row h-20 p-6  lg:h-full">
        <p class="cursor-pointer text-gray-300 hover:text-white">Términos & condiciones</p>
        <p class="cursor-pointer text-gray-300 hover:text-white">Política de privacidad</p>
    </div>




    <div class="flex flex-col space-x-4 items-center justify-center h-20 p-6 lg:h-full">
        <p>©2026</p>
        <small class="font-body text-gray-300"> TODOS LOS DERECHOS RESERVADOS</small>
    </div>
</section>