@import "tailwindcss";

@font-face {
    font-family: 'Melodrama';
    src: url('assets/fonts/Melodrama-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/raleway-v37-latin-regular.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuton';
    src: url('assets/fonts/neuton-v24-latin-regular.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Behrens';
    src: url('assets/fonts/BehrensSchrift_Normal.woff') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-neuton: "Neuton", serif;
    --font-body: "Raleway", sans-serif;
    --font-melodrama: "Melodrama", sans-serif;
    --font-behrens: "Behrens", sans-serif;
}

html,
body {
    font-family: "Raleway", sans-serif;
}